doctype html
html
  head
    title Hello World!
    link(href='css/bower.css', rel='stylesheet')
    link(href='css/client.css', rel='stylesheet')
  body
    .box
      div(style='width: 100px;height: 100px;')
    script(src='js/bower.js')
    script(src='js/client.js')
